*~
.DS_Store
.project
.gradle/
varOne-web/build/
varOne-node/build/
varOne-rpc/build/
varOne-exec/build/
varOne-server/build/
node_modules
*.jar
*.war
varOne-web/src/main/webapp/npm-debug.log
.classpath
.settings
varOne-web/bin/
varOne-node/bin/
varOne-rpc/bin/
varOne-exec/bin/
varOne-server/bin/
varOne-web/src/main/webapp/dist
varOne.log
conf/*.xml
conf/*.sh
varOne*.tgz
